fieldset.create-project-invite
    label
        span(translate="PROJECT.CREATE.INVITE")
        span.mumble(translate="PROJECT.CREATE.INVITE_LATER")
    .create-project-invite-avatars
        tg-single-member(
            avatar="member"
            tg-repeat="member in vm.members"
            ng-click="vm.toggleInviteMember(member)"
        )
            
